@import "./imports";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Graphik LCG";
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

.wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}

main {
  background-color: $color-background-main
}
@import "../components/header/header";
@import "../components/productCard/productCard";
